<div class="center-container">
  <form class="container">
    <table summary="Elección de palabra">
      <tr>
        <th>
          <div>
            <label for="palabra-input">Palabra:</label>
            <input class="secret" type="text" name="palabra-input" [formControl]="palabra" maxlength="16"/>
          </div>
        </th>
        <th>
          <div style="text-align: center">
            <button (click)="jugar()" [disabled]="palabra.value === '' || !palabra.valid">
              Jugar
            </button>
          </div>
        </th>
      </tr>
    </table>
  </form>
</div>
